 
<!DOCTYPE html>
<html>
<head>
    <title>Movie Genie</title>
    <!-- <img src="360_F_335870951_YOHbsBpoBva5TFpCwNqRdsurzzwLukuI.jpg" alt=”genielamp”> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <h1>What is your favorite movie?</h1>
    <center><form method="post" action="/">
        <input type="text" name="movie_title" value="{{ movie_title }}" placeholder="Enter Movie Title" required>
        <button type="submit">Check</button>
    </form>
    {% if output %}
    <h2>Did you mean: </h2>
    <p>{{ output[0] }}</p>
    {% if output|length > 1 %}
        <h2>I think you will like:</h2>
        <ul>
        {% for suggestion in output[1:4] %}
            <li>
                <img src="{{ suggestion[1] }}" alt="{{ suggestion[0] }} Poster">
                <span>{{ suggestion[0] }}</span>
            </li>
            <!-- <p>{{ suggestion }}</p> -->
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}
    </center>
</body>
</html>