 
<!DOCTYPE html>
<html>
<head>
    <title>Movie Genie</title>
    <link rel="stylesheet" href='/static/css/style.css' />
</head>
<body>
    <h1>What is your favorite movie?</h1>
    <center>
        <form method="post" action="/">
        <input type="text" name="movie_title" value="{{ movie_title }}" placeholder="Enter Movie Title" required>
        <button type="submit">Check</button>
    </form>
    {% if output %}
    <h2>Did you mean: </h2>
    <p>
        <a href="{{ output[0][1] }}">{{ output[0][0] }}</a>
    </p>
    {% if output|length > 1 %}
        <h2>I think you will like:</h2>
        {% for suggestion in output[1:4] %}
            <p>
                <a href="{{ suggestion[1] }}">{{ suggestion[0] }}</a>
            </p>
        {% endfor %}
    {% endif %}
{% endif %}
    </center>
</body>
</html>